body {
  margin: auto;
  padding: 50px;
  font-size: 30pt;
}

h2,
p,
button {
  text-align: center;
  position: relative;
  margin: auto;
  padding: 10px;
}

#myActions {
  margin: auto;
  text-align: center;
}

button {
  width: 400px;
  height: 200px;
}

#target {
  margin: auto;
  padding: 25px;
}
